body {
  font: 20px/1.1em arial, sans-serif;
  background: white;
}
svg {
  stroke-width: 1px;
  overflow: visible !important;
  opacity: 1;
  /* mix-blend-mode: multiply; */
  /* border: 1px solid blue; */
}
#ui {
  position:absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  padding: 10px;
  border: 1px solid red;
}
#ui:hover{
  opacity: 1;
}
#inject {
  display: flex;
  margin-left: 0;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex: auto; */
  /* gap: 10px; */
  /* width: 50%; */
  height: fit-content;
  width: 50%;
}
.ph {
  /* flex:auto; */
  /* flex-basis: 20%; */
  stroke-linecap: square;
  margin: 0;
  padding: 0;
  overflow: visible !important;
  /* border-bottom: 1px solid red; */
  /* border: 1px solid blue; */
}
.bounding-box{
  border: 1px solid red;
}

.svg-debug {
  overflow: visible !important;
  position: absolute;
  /* width: 100px !important; */
  /* height: auto; */
  display: inline-block;
}
.a {
  font-size: 64px;
}

@media print {
  @page {
    size: A5;
  }
}

.trace, .ref {
  opacity: 0;
}
.show-trace {
  opacity: 1;
}

.ref {
  color: blue;
  margin:10px;
  margin-top: 0;
  position: absolute;
  /* font-weight: bold; */
  font-family: monospace;
  z-index: 100;
  /* opacity: 0; */
  display: block;
  font-size: 12px;
  background-color: white;
  padding: 5px;
  padding-bottom: 0;
  padding-top: 0;
  border: 1px solid black;
}
.show-transcription {
  opacity: 1 !important;
}

button {
  opacity: 0;
}
button:hover {
  opacity: 1;
}

